header{
    background-color: gainsboro;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo-nav{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
#Header-Logo{
    height: 4rem;
    margin: .5rem;
}
nav ul{
    list-style: none;
    display: flex;
    column-gap: 1rem;
    text-transform: uppercase;
}
nav ul a:hover{
    font-size: 18px;
    transition: all .2s ease-in-out;
}
#change-theme-btn:hover{
    filter: drop-shadow(0 0 2em #000000aa);
}
.dark-mode {
    background-color: black;
    color: white;
}
.dark-mode button{
    background-color: black;
    color: white;
}
.light-mode {
    background-color: rgb(172, 172, 172);
    color: black;
}
.light-mode button{
    background-color: rgb(172, 172, 172);
    color: black;
}
